h1 a, h2 a{
  text-decoration: none;
}

textarea {
  width: 90%;
}

/* highlight */


pre code{
  border: 0;
}

pre, pre code {
   background:white;
}

pre {
  border-left: 5px solid #eee;
/*  padding-left: 15px; */
  border-right: 0;
}


pre.sourceCode {
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom:  1px solid #eee;
  border-left: 5px solid #eee;
  border-right:0 0;
  padding-left: 20px;
  width: 520px;
}


/*
pre code {
  line-height: 7px;
}
*/

pre code br {
  display: none;
}

/* .container 	{ border-top: 3px #5083AE solid } */

a { color: #141517; }
a:hover			{ color: #141517; }

h2, h2 a, h3, h3 a, h4, h4 a { color: #04427B; }


#create {
  width: 200px;
  border: 1px #aaa solid;
  padding: 5px;
}
#create a {
  background: #fff url(/css/image/huluwa_create.jpg) no-repeat;
  display: block;
  weidth: 200px;
  height: 161px;
}

#create a h2{
  display: none;
}
