<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <!-- Framework CSS -->
  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]><link rel="stylesheet" href="../blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  
    <link rel="stylesheet" href="/css/hk-pyg.css" type="text/css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css">
    
</head>

<body>
  
  <div class="container">
  <br />
  <br />
  <br />
  <div class="prepend-4 span-12 last">
    <div id="banner"><h1><a href="/">Loli paste</a></h1></div>
  </div>
  
  <hr />
  <div class="prepend-4 span-14">
    <br />
    $content
  </div>
  
  
  <div class="span-4 last" id="sidebar">
    <div id="create">
      <a href="/create">
        <img src="/css/image/huluwa_create.jpg" alt="Create" />
      </a>
    </div>
  </div>
  
  </div>
</body>

</html>